**/migrations/*.py
!**/migrations/__init__.py
db.sqlite3
media
.idea
*.log
*.pot
*.pyc
/db.sqlite3
/env
/Lib
/Scripts
pyvenv.cfg
#island_bali/.env.local.docker
identifier.sqlite
images/
pgdata/
qr_codes/
.env
venv/
venv
/venv