#* Version: 0100 / Build: 2013.08.05 *
[ req ]
default_bits					= 2048
default_keyfile 				= privkey.req
distinguished_name				= req_rsb
string_mask 					= nombstr
[ req_rsb ]
countryName						= Country Name (2 letter code).
countryName_default				= RU
countryName_min					= 2
countryName_max					= 2
localityName					= City Name (eg, locality).
localityName_default			= Moscow
stateOrProvinceName				= Subject Name (eg, state).
stateOrProvinceName_default		= Moscow
0.organizationName				= Company or Sole trader Title..
0.organizationName_default		= *
0.organizationName_min			= 2
0.organizationName_max			= 128
organizationalUnitName_default	= *
organizationalUnitName			= Department Name in the Company
organizationalUnitName_min		= 2
organizationalUnitName_max		= 128
commonName						= Merchant ID (Common Name) (CN)
commonName_default				= *
commonName_min					= 10
commonName_max					= 10
emailAddress					= Company Contact E-mail Address
emailAddress_default			= *
emailAddress_min				= 10
emailAddress_max				= 96

